body {
  font-family: Source Han Sans CN, PingFang SC, Helvetica Neue, Helvetica,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

  /* iphoneX适配 */
  padding-top: constant(safe-area-inset-top);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
